@page "/detail-employee/{id}"

<h3>Employee Detail</h3>


<div class="container">
    <div class="row">

        <div class="col-sm-6">
            <p><span class="fs-5">Name :</span>  <span> @Employee.FullName</span></p>
        </div>
        <div class="col-sm-6">
            <p><span class="fs-5">Email :</span>  <span> @Employee.Email</span></p>
        </div>
        <div class="col-sm-6">
            <p><span class="fs-5">Date Of Birth :</span>  <span> @Employee.EDateOfBirth</span></p>
        </div>
        <div class="col-sm-6">
            <p><span class="fs-5">Department :</span>  <span> @Employee.EDepartment</span></p>
        </div>

    </div>
</div>
